@model Clinic.Core.Models.Product.ProductCreateViewModel
@{
    Layout = MVC.Shared.Views.MasterTemplates._Layout; 
    ViewBag.Title = "افزودن محصول";
    ViewBag.Section = "Product";
    ViewBag.Name = "ProductNew";
}
<form id="newProduct" action="@Url.Action(MVC.Product.Create())" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <div class="uk-form-row">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <label>محصول</label>
                        <div class="k-rtl" >
                            <div id="treeProductContainer"  data-on-load="fillKendoTreeProduct2"></div>
                        </div>
                        <input type="hidden" id="ParentId" name="ParentId" data-val="true" data-val-required="لطفا یک محصول انتخاب کنید"/>

                    </div>
                    <div class="uk-width-medium-1-3">
                        <label>عنوان</label>
                        <input type="text" id="Title" name="Title" class="md-input" data-val="true" data-val-required="عنوان محصول را وارد کنید"/>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label>تعداد</label>
                        <input type="text" id="AvailableCount" name="AvailableCount" class="md-input" />
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label>قیمت</label>
                        <input type="text" id="UnitPrice" name="UnitPrice" class="md-input" />
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label>بارکد</label>
                        <input type="text" id="BarCode" name="BarCode" class="md-input"/>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label>حداقل تعداد جهت آلارم</label>
                        <input type="text" id="AlarmCount" name="AlarmCount" class="md-input" />
                    </div>
                    <div class="uk-width-medium-1-3">
                        <label>توضیحات</label>
                        <input type="text" id="Description" name="Description" class="md-input"/>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-6">
                        <button type="submit" form="newProduct" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
