@{
    Layout = MVC.Shared.Views.MasterTemplates._Layout;
    ViewBag.Title = "لیست محصولات";
    ViewBag.Section = "Product";
    ViewBag.Name = "ProductList";
}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="k-rtl">
            <div id="ProductsGridContainer" data-on-load="PrepareProductListGrid"></div>
        </div>
    </div>
</div>