@{
    Layout = MVC.Shared.Views.MasterTemplates._Layout;
    ViewBag.Title = "لیست پزشک ها";
    ViewBag.Section = "Doctor";
    ViewBag.Name = "DoctorList";
}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="k-rtl">
            <div id="doctorsGridContainer" data-on-load="PrepareDoctorListGrid" ></div>
        </div>
    </div>
</div>