@{
    Layout = MVC.Shared.Views.MasterTemplates._Layout;
    ViewBag.Title = "لیست محصولات";
    ViewBag.Section = "Document";
    ViewBag.Name = "DocumentList";
}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="k-rtl">
            <div id="DocumentsGridContainer" data-on-load="prepareDocumentListGrid"></div>
        </div>
    </div>
</div>