@{
    Layout = MVC.Shared.Views.MasterTemplates._Layout;
    ViewBag.Title = "لیست بیماران";
    ViewBag.Section = "Patient";
    ViewBag.Name = "PatientList";
}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="k-rtl">
            <div id="patientsGridContainer" data-on-load="PreparePatientListGrid"></div>
        </div>
    </div>
</div>