@{
    Layout = MVC.Shared.Views.MasterTemplates._Layout;
    ViewBag.Title = "لیست محصولات";
    ViewBag.Section = "Report";
    ViewBag.Name = "ReportList";
}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="k-rtl">
            <div id="ReportsGridContainer" data-on-load="prepareReportListGrid"></div>
        </div>
    </div>
</div>
<div id="dialog">
    
</div>