@{
    Layout = MVC.Shared.Views.MasterTemplates._Layout;
    ViewBag.Title = "لیست بازار یاب ها";
    ViewBag.Section = "Presenter";
    ViewBag.Name = "PresenterList";
}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="k-rtl">
            <div id="PresentersGridContainer" data-on-load="PreparePresenterListGrid"></div>
        </div>
    </div>
</div>